/*primary*/
$dark-blue: hsl(233, 26%, 24%)
$lime-green: hsl(136, 65%, 51%)
$bright-cyan: hsl(192, 70%, 51%)

/*neutral*/
$grey-blue: hsl(233, 8%, 62%)
$light-blue: hsl(233, 8%, 62%)
$very-light-blue: hsl(0, 0%, 98%)
$white: hsl(0, 0%, 100%)

$green-gradient: linear-gradient(300deg, rgba(43,183,208,1) 0%, rgba(49,211,92,1) 75%)
$hover-gradient: linear-gradient(300deg, #5fc4d6 0%, #73d18c 75%)


    
    
.main-content
    @media screen and ( max-width: 600px )
        padding: 2rem 2rem
        .heading-container
            width: 100% !important
            text-align: center
            padding: 2rem 0
        .icon-list
            width: 100% !important
            flex-direction: column
            align-items: center
            .icon-card
                align-items: center
                margin-bottom: 1.5rem
                p 
                    // transform: translate(10%) !important
                    text-align: center
    // z-index: 1
                
    // position: relative  
    padding: 4rem 
    background-color: #ffffffed
    display: flex
    // z-index: -3
    flex-direction: column
    opacity: 0
    h4
        font-weight: 300
    .heading-container
        width: 50%
        margin: 2rem 0 
        .main-header
            font-size: 2rem
            margin: 0 0 1rem 0
        p
            font-weight: 300
            font-size: 0.99rem
            margin: 0
    .icon-list
        
        display: flex
        justify-content:  space-between
    
    .icon-card
        width: 16rem
        display: flex
        flex-direction: column
    img 
        width: 5rem
        // z-index: 80
.icon-text
        font-size: 1.01rem
        font-weight: 300
        color: $light-blue
        white-space: pre-line
        transform: translateX(-120%)
        opacity: 0

.topleft-container
    // z-index: 40
    grid-column:  1
    align-self: center
    height: auto
    @media screen and ( max-width: 600px )
          grid-column: 1
          grid-row: 2
          
    .default-header
        font-weight: 300
        font-size: 3rem
       
    
    .base-btn
        transform: translateX(-150%)
         opacity: 0
    .icon-text
        
.content-container
    background-color: #f5f5f5
    // position: relative
    @media screen and ( max-width: 600px )
        display: flex
        flex-direction: column
    z-index: -2

.my-body
    // z-index: 20
    
    padding: 1.5rem 4rem
    // padding-top: 2rem
    display: grid
    grid-template-columns: 40% 60%
    grid-template-rows: 100%
    height: 47rem
    min-height: 10%
    
    @media screen and ( max-width: 600px )
        //   grid-template-columns: 100%
        //   grid-template-rows: auto 1fr
        display: flex
        padding: 1.5rem 2rem
        flex-direction: column-reverse
        align-items: center
        // margin-top: 8rem
   

.topright-container
    // z-index: 98
    opacity: 0
   
    width: 60%
    // padding-bottom: 100%
    // height: 60rem
    
    // position: absolute
    // right: -5%
    // justify-self: end
    // width: 50%
    img
        max-width: 100%

    @media screen and ( max-width: 600px )
            width: 100%
            padding: 0 2rem
           
            grid-column: 1
            grid-row: 1

       

    
    // animation-iteration-count:infinite

@keyframes flip
    0%
        transform: rotate(0)
        
    100%
        transform: rotate(360deg)
        
    // img
    //     width: inherit

.background-image
    @media screen and ( max-width: 600px )
        width: 100%
        top: 0
        margin: 90px
        transform: scale(1.7) !important
    
    width: 130%
    

    position: absolute
    top:  0
    margin-top: -10%
    // left: 20%
    z-index: -1
    // transform: translate(30%,-20%) scale(0.8)


.base
    width: 100vw
    overflow:  hidden


.animate-sub
    opacity: 0
    transform: translateX(-110%)
         

    
    
    
    
    
    
    
    
    